In [1]:
import pandas as pd

In [ ]:
# load data
news_df = pd.read_csv('news_with_sentiment.csv')

ohlcv_df = pd.read_csv('sp100_ohlcv_2018_2023.csv')

C:\Users\Chris\AppData\Local\Temp\ipykernel_44712\330089908.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  news_df = pd.read_csv('news_with_sentiment.csv')
C:\Users\Chris\AppData\Local\Temp\ipykernel_44712\330089908.py:3: DtypeWarning: Columns (7,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  news_event_df = pd.read_csv('sp100_news_2018_2023_events_added.csv')

In [3]:
ohlcv_df = ohlcv_df[['Ticker', 'Date', 'Open', 'High', 'Low', 'Close', 'Volume']]

In [4]:
ohlcv_df.head()

  Ticker        Date    Open    High      Low   Close    Volume
0   AAPL  2023-12-29  193.90  194.40  191.725  192.53  42672148
1   AAPL  2023-12-28  194.14  194.66  193.170  193.58  34049898
2   AAPL  2023-12-27  192.49  193.50  191.090  193.15  47899806
3   AAPL  2023-12-26  193.61  193.89  192.830  193.05  28919310
4   AAPL  2023-12-22  195.18  195.41  192.970  193.60  37149570

In [5]:
ohlcv_df["Date"] = pd.to_datetime(ohlcv_df["Date"], format='mixed')

# Truncate the time, keeping only the date part
ohlcv_df["Date"] = ohlcv_df["Date"].dt.date

In [6]:
news_df.head()

,Date,Article_title,Stock_symbol,Article,Sentiment_label,Sentiment_score
0,2023-12-16 22:00:00,My 6 Largest Portfolio Holdings Heading Into 2...,AAPL,"After an absolute disaster of a year in 2022, ...",neutral,0.822993
1,2023-12-16 22:00:00,Brokers Suggest Investing in Apple (AAPL): Rea...,AAPL,"When deciding whether to buy, sell, or hold a ...",neutral,0.902589
2,2023-12-16 21:00:00,"Company News for Dec 19, 2023",AAPL,Shares of Apple Inc. AAPL lost 0.9% on China’s...,neutral,0.550500
3,2023-12-16 21:00:00,NVIDIA (NVDA) Up 243% YTD: Will It Carry Momen...,AAPL,NVIDIA Corporation NVDA has witnessed a remark...,positive,0.889521
4,2023-12-16 21:00:00,"Pre-Market Most Active for Dec 19, 2023 : BMY,...",AAPL,The NASDAQ 100 Pre-Market Indicator is up 10.1...,neutral,0.875821

In [7]:
# Define a mapping for sentiment labels to numerical values
sentiment_mapping = {
    "negative": -1,
    "neutral": 0,
    "positive": 1
}

# Apply the mapping to the Sentiment_label column
news_df["Sentiment_numeric"] = news_df["Sentiment_label"].map(sentiment_mapping)

In [ ]:
news_df["Date"] = pd.to_datetime(news_df["Date"], format='mixed')

# Truncate the time, keeping only the date part
news_df["Date"] = news_df["Date"].dt.date

In [9]:
news_df.head(20)

,Date,Article_title,Stock_symbol,Article,Sentiment_label,Sentiment_score,Sentiment_numeric
0,2023-12-16,My 6 Largest Portfolio Holdings Heading Into 2...,AAPL,"After an absolute disaster of a year in 2022, ...",neutral,0.822993,0
1,2023-12-16,Brokers Suggest Investing in Apple (AAPL): Rea...,AAPL,"When deciding whether to buy, sell, or hold a ...",neutral,0.902589,0
2,2023-12-16,"Company News for Dec 19, 2023",AAPL,Shares of Apple Inc. AAPL lost 0.9% on China’s...,neutral,0.550500,0
3,2023-12-16,NVIDIA (NVDA) Up 243% YTD: Will It Carry Momen...,AAPL,NVIDIA Corporation NVDA has witnessed a remark...,positive,0.889521,1
4,2023-12-16,"Pre-Market Most Active for Dec 19, 2023 : BMY,...",AAPL,The NASDAQ 100 Pre-Market Indicator is up 10.1...,neutral,0.875821,0
5,2023-12-16,3 Artificial Intelligence (AI) Stocks for 2024...,AAPL,What was the top financial story of 2023? It h...,positive,0.944678,1
6,2023-12-16,AAPL Quantitative Stock Analysis,AAPL,Below is Validea's guru fundamental report for...,neutral,0.874864,0
7,2023-12-16,Should Vanguard S&P 500 ETF (VOO) Be on Your I...,AAPL,If you're interested in broad exposure to the ...,neutral,0.765141,0
8,2023-12-16,Is FlexShares Quality Dividend ETF (QDF) a Str...,AAPL,"Launched on 12/14/2012, the FlexShares Quality...",neutral,0.820340,0
9,2023-12-16,Is FlexShares STOXX US ESG Select Index Fund (...,AAPL,"Making its debut on 07/13/2016, smart beta exc...",neutral,0.855043,0
10,2023-12-16,Wall St futures inch up as investors pin hopes...,AAPL,"For a Reuters live blog on U.S., UK and Europe...",positive,0.843585,1
11,2023-12-16,49.1% of Warren Buffett's $373 Billion Portfol...,AAPL,Warren Buffett has led the Berkshire Hathaway ...,neutral,0.898789,0
12,2023-12-16,2 Top Warren Buffett Stocks to Buy Right Now,AAPL,Warren Buffett is considered among the greates...,neutral,0.858573,0
13,2023-12-16,TSMC to promote from within after chairman ret...,AAPL,Adds details and quotes from paragraph 2\nTAIP...,neutral,0.930655,0
14,2023-12-16,"US STOCKS-Wall Street ends higher, extending r...",AAPL,"By Stephen Culp\nNEW YORK, Dec 18 (Reuters) - ...",negative,0.814601,-1
15,2023-12-16,"After Hours Most Active for Dec 18, 2023 : PAC...",AAPL,The NASDAQ 100 After Hours Indicator is down -...,neutral,0.579035,0
16,2023-12-16,"Technology Sector Update for 12/18/2023: PCT, ...",AAPL,"Tech stocks were mixed late Monday afternoon, ...",negative,0.967861,-1
17,2023-12-16,"Wall Street ends higher, extending rate-cut rally",AAPL,"By Stephen Culp\nNEW YORK, Dec 18 (Reuters) - ...",negative,0.814601,-1
18,2023-12-16,Apple To Halt Sale Of Watch Series 9 And Ultra 2,AAPL,(RTTNews) - Tech giant Apple Inc. (AAPL) has a...,neutral,0.577729,0
19,2023-12-16,US STOCKS-Wall St builds on rally as Fed eupho...,AAPL,"By Stephen Culp\nNEW YORK, Dec 18 (Reuters) - ...",negative,0.562281,-1

In [10]:
# Group by 'Date' and 'Stock_symbol' and compute the average sentiment
average_sentiment = (
    news_df.groupby(["Date", "Stock_symbol"])["Sentiment_numeric"]
    .mean()
    .reset_index()
)

# Rename the resulting column for clarity
average_sentiment.rename(columns={"Sentiment_numeric": "Average_sentiment"}, inplace=True)

# Add the 'news_day' binary variable (1 if there was news, else 0)
average_sentiment["news_day"] = 1

# Create a full range of dates for each stock
all_dates = pd.date_range(news_df["Date"].min(), news_df["Date"].max())
all_stocks = news_df["Stock_symbol"].unique()
full_index = pd.MultiIndex.from_product([all_dates, all_stocks], names=["Date", "Stock_symbol"])

# Reindex the DataFrame to ensure all stock-date combinations are present
average_sentiment = average_sentiment.set_index(["Date", "Stock_symbol"]).reindex(full_index, fill_value=0).reset_index()

# Fill missing 'Average_sentiment' values with NaN (no news on that day)
average_sentiment.loc[average_sentiment["news_day"] == 0, "Average_sentiment"] = None

In [11]:
average_sentiment[(average_sentiment['Stock_symbol'] == 'AAPL') & average_sentiment['news_day'] == 1]

             Date Stock_symbol  Average_sentiment  news_day
78204  2020-03-09         AAPL           0.000000         1
78302  2020-03-10         AAPL           0.000000         1
78400  2020-03-11         AAPL           0.000000         1
78498  2020-03-12         AAPL           0.000000         1
78596  2020-03-13         AAPL           0.000000         1
...           ...          ...                ...       ...
212758 2023-12-12         AAPL           0.108108         1
212856 2023-12-13         AAPL          -0.227273         1
212954 2023-12-14         AAPL           0.400000         1
213052 2023-12-15         AAPL           0.400000         1
213150 2023-12-16         AAPL          -0.050000         1

[639 rows x 4 columns]

In [12]:
ohlcv_df.head()

  Ticker        Date    Open    High      Low   Close    Volume
0   AAPL  2023-12-29  193.90  194.40  191.725  192.53  42672148
1   AAPL  2023-12-28  194.14  194.66  193.170  193.58  34049898
2   AAPL  2023-12-27  192.49  193.50  191.090  193.15  47899806
3   AAPL  2023-12-26  193.61  193.89  192.830  193.05  28919310
4   AAPL  2023-12-22  195.18  195.41  192.970  193.60  37149570

In [13]:
average_sentiment.rename(columns={"Stock_symbol": "Ticker"}, inplace=True)

In [14]:
average_sentiment["Date"] = pd.to_datetime(average_sentiment["Date"])
ohlcv_df["Date"] = pd.to_datetime(ohlcv_df["Date"])

In [15]:
# Perform the merge
merged_df = pd.merge(
    ohlcv_df,                 # The OHLCV DataFrame
    average_sentiment,        # The average sentiment DataFrame
    how="left",               # Use left join to keep all rows from ohlcv_df
    on=["Date", "Ticker"]     # Merge on Date and Ticker
)


# Display the merged DataFrame
merged_df.head()

,Ticker,Date,Open,High,Low,Close,Volume,Average_sentiment,news_day
0,AAPL,2023-12-29,193.90,194.40,191.725,192.53,42672148,NaN,0.0
1,AAPL,2023-12-28,194.14,194.66,193.170,193.58,34049898,NaN,0.0
2,AAPL,2023-12-27,192.49,193.50,191.090,193.15,47899806,NaN,0.0
3,AAPL,2023-12-26,193.61,193.89,192.830,193.05,28919310,NaN,0.0
4,AAPL,2023-12-22,195.18,195.41,192.970,193.60,37149570,NaN,0.0

In [16]:
merged_df[(merged_df['Ticker'] == 'AAPL')]

,Ticker,Date,Open,High,Low,Close,Volume,Average_sentiment,news_day
0,AAPL,2023-12-29,193.90,194.40,191.725,192.53,42672148,NaN,0.0
1,AAPL,2023-12-28,194.14,194.66,193.170,193.58,34049898,NaN,0.0
2,AAPL,2023-12-27,192.49,193.50,191.090,193.15,47899806,NaN,0.0
3,AAPL,2023-12-26,193.61,193.89,192.830,193.05,28919310,NaN,0.0
4,AAPL,2023-12-22,195.18,195.41,192.970,193.60,37149570,NaN,0.0
...,...,...,...,...,...,...,...,...,...
1504,AAPL,2018-01-08,174.35,175.61,173.930,174.35,20134092,NaN,0.0
1505,AAPL,2018-01-05,173.44,175.37,173.050,175.00,23016177,NaN,0.0
1506,AAPL,2018-01-04,172.54,173.47,172.080,173.03,22211345,NaN,0.0
1507,AAPL,2018-01-03,172.53,174.55,171.960,172.23,28819653,NaN,0.0
1508,AAPL,2018-01-02,170.16,172.30,169.260,172.26,25048048,NaN,0.0

In [38]:
merged_df.to_csv('combined_sp100.csv')

In [61]:
news_event_df = pd.read_csv('sp100_news_2018_2023_events_added.csv')

C:\Users\Chris\AppData\Local\Temp\ipykernel_44712\171567102.py:1: DtypeWarning: Columns (7,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  news_event_df = pd.read_csv('sp100_news_2018_2023_events_added.csv')

In [62]:
news_event_df["Date"] = pd.to_datetime(news_event_df["Date"], format='mixed')

# Truncate the time, keeping only the date part
news_event_df["Date"] = news_event_df["Date"].dt.date

In [63]:
news_event_df.rename(columns={"Stock_symbol": "Ticker"}, inplace=True)
news_event_df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Date,Article_title,Ticker,Url,Publisher,Author,Article,Lsa_summary,Luhn_summary,Textrank_summary,Lexrank_summary,business_event
0,0,12025,12025.0,2023-12-16,My 6 Largest Portfolio Holdings Heading Into 2...,AAPL,https://www.nasdaq.com/articles/my-6-largest-p...,NaN,NaN,"After an absolute disaster of a year in 2022, ...",3: Apple There's little question that Apple (N...,3: Apple There's little question that Apple (N...,3: Apple There's little question that Apple (N...,3: Apple There's little question that Apple (N...,11
1,1,12026,12026.0,2023-12-16,Brokers Suggest Investing in Apple (AAPL): Rea...,AAPL,https://www.nasdaq.com/articles/brokers-sugges...,NaN,NaN,"When deciding whether to buy, sell, or hold a ...",Let's take a look at what these Wall Street he...,Click to get this free report Apple Inc. (AAPL...,Let's take a look at what these Wall Street he...,Brokerage Recommendation Trends for AAPL Let's...,11
2,2,12027,12027.0,2023-12-16,"Company News for Dec 19, 2023",AAPL,https://www.nasdaq.com/articles/company-news-f...,NaN,NaN,Shares of Apple Inc. AAPL lost 0.9% on China’s...,Shares of Apple Inc. AAPL lost 0.9% on China’s...,Click to get this free report Apple Inc. (AAPL...,Click to get this free report Apple Inc. (AAPL...,Click to get this free report Apple Inc. (AAPL...,11
3,3,12028,12028.0,2023-12-16,NVIDIA (NVDA) Up 243% YTD: Will It Carry Momen...,AAPL,https://www.nasdaq.com/articles/nvidia-nvda-up...,NaN,NaN,NVIDIA Corporation NVDA has witnessed a remark...,Other Stocks in the $1T Club Apart from NVIDIA...,Other Stocks in the $1T Club Apart from NVIDIA...,Other Stocks in the $1T Club Apart from NVIDIA...,Other Stocks in the $1T Club Apart from NVIDIA...,11
4,4,12029,12029.0,2023-12-16,"Pre-Market Most Active for Dec 19, 2023 : BMY,...",AAPL,https://www.nasdaq.com/articles/pre-market-mos...,NaN,NaN,The NASDAQ 100 Pre-Market Indicator is up 10.1...,"Apple Inc. (AAPL) is +0.86 at $196.75, with 1,...","Apple Inc. (AAPL) is +0.86 at $196.75, with 1,...","Apple Inc. (AAPL) is +0.86 at $196.75, with 1,...","Apple Inc. (AAPL) is +0.86 at $196.75, with 1,...",11

In [64]:
label_map = {
    'I-A': 0, # Acquisition
    'I-CT': 1, # Clinical Trial
    'I-RD': 2, # Regular Dividend
    'I-DC': 3, # Dividend Cut
    'I-DI': 4, # Dividend Increase
    'I-GI': 5, # Guidance Increase
    'I-NC': 6, # New Contract
    'I-RSS': 7, # Reverse Stock Split
    'I-SD': 8, # Special Dividend
    'I-SR': 9, # Stock Repurchase
    'I-SS': 10, # Stock Split(SS)
    'O': 11, # No Event
    'I-GC': 12, #Unknown Label
}

In [65]:
news_event_df['business_event'].value_counts()

business_event
11    325582
4       5481
3        443
1        326
0        295
2        294
6        223
10        98
9         40
8          6
Name: count, dtype: int64

In [66]:
# Step 1: Create placeholder columns for one-hot encoding
for category in label_map.keys():
    news_event_df[category] = 0

# Step 2: Update the placeholder columns where business_event matches the code
for category, code in label_map.items():
    news_event_df.loc[news_event_df['business_event'] == code, category] = 1

# Step 3: Aggregate the one-hot columns by Date and Ticker using max()
# Select numeric columns for aggregation
one_hot_columns = list(label_map.keys())
aggregated = news_event_df.groupby(['Date', 'Ticker'], as_index=False)[one_hot_columns].max()

# Add back non-numeric columns
aggregated = pd.merge(news_event_df[['Date', 'Ticker']].drop_duplicates(), aggregated, on=['Date', 'Ticker'])
aggregated.head()

,Date,Ticker,I-A,I-CT,I-RD,I-DC,I-DI,I-GI,I-NC,I-RSS,I-SD,I-SR,I-SS,O,I-GC
0,2023-12-16,AAPL,0,0,0,0,0,0,0,0,0,0,0,1,0
1,2023-12-15,AAPL,0,0,0,0,0,0,0,0,0,0,0,1,0
2,2023-12-14,AAPL,0,0,0,0,0,0,0,0,0,0,0,1,0
3,2023-12-13,AAPL,0,0,0,0,0,0,0,0,0,0,0,1,0
4,2023-12-12,AAPL,0,0,0,0,0,0,0,0,0,0,0,1,0

In [69]:
# List of one-hot encoded indicator columns
indicator_columns = list(label_map.keys())

# Create a filter to check if more than one indicator variable is set to 1
filtered = aggregated[aggregated[indicator_columns].sum(axis=1) > 1]
filtered.shape

(4498, 15)

In [31]:
aggregated.columns

Index(['Date', 'Ticker', 'I-A', 'I-CT', 'I-RD', 'I-DC', 'I-DI', 'I-GI', 'I-NC',
       'I-RSS', 'I-SD', 'I-SR', 'I-SS', 'O', 'I-GC'],
      dtype='object')

In [71]:
news_event_df[news_event_df['business_event'] != 11][['business_event', 'I-A', 'I-CT', 'I-RD', 'I-DC', 'I-DI', 'I-GI', 'I-NC','I-RSS', 'I-SD', 'I-SR', 'I-SS', 'O', 'I-GC']]

,business_event,I-A,I-CT,I-RD,I-DC,I-DI,I-GI,I-NC,I-RSS,I-SD,I-SR,I-SS,O,I-GC
669,4,0,0,0,0,1,0,0,0,0,0,0,0,0
1541,4,0,0,0,0,1,0,0,0,0,0,0,0,0
1604,4,0,0,0,0,1,0,0,0,0,0,0,0,0
2321,4,0,0,0,0,1,0,0,0,0,0,0,0,0
2362,4,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255998,4,0,0,0,0,1,0,0,0,0,0,0,0,0
256140,4,0,0,0,0,1,0,0,0,0,0,0,0,0
256179,3,0,0,0,1,0,0,0,0,0,0,0,0,0
256194,4,0,0,0,0,1,0,0,0,0,0,0,0,0
256218,2,0,0,1,0,0,0,0,0,0,0,0,0,0

In [70]:
aggregated[(aggregated['I-A'] != 0) | 
    (aggregated['I-CT'] != 0) | 
    (aggregated['I-RD'] != 0) |
    (aggregated['I-DC'] != 0) |
    (aggregated['I-DI'] != 0) |
    (aggregated['I-GI'] != 0) |
    (aggregated['I-NC'] != 0) |
    (aggregated['I-RSS'] != 0) |
    (aggregated['I-SD'] != 0) |
    (aggregated['I-SR'] != 0) |
    (aggregated['I-SS'] != 0) |
    (aggregated['O'] != 0) |
    (aggregated['I-GC'] != 0)]

,Date,Ticker,I-A,I-CT,I-RD,I-DC,I-DI,I-GI,I-NC,I-RSS,I-SD,I-SR,I-SS,O,I-GC
0,2023-12-16,AAPL,0,0,0,0,0,0,0,0,0,0,0,1,0
1,2023-12-15,AAPL,0,0,0,0,0,0,0,0,0,0,0,1,0
2,2023-12-14,AAPL,0,0,0,0,0,0,0,0,0,0,0,1,0
3,2023-12-13,AAPL,0,0,0,0,0,0,0,0,0,0,0,1,0
4,2023-12-12,AAPL,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95572,2018-01-08,USB,0,0,0,0,0,0,0,0,0,0,0,1,0
95573,2020-05-31,V,0,0,0,0,0,0,0,0,0,0,0,1,0
95574,2020-06-02,VZ,0,0,0,0,0,0,0,0,0,0,0,1,0
95575,2020-05-29,VZ,0,0,0,0,0,0,0,0,0,0,0,1,0
95576,2020-05-28,VZ,0,0,0,0,0,0,0,0,0,0,0,1,0

In [73]:
merged_df

,Ticker,Date,Open,High,Low,Close,Volume,Average_sentiment,news_day
0,AAPL,2023-12-29,193.90,194.40,191.725,192.53,42672148,NaN,0.0
1,AAPL,2023-12-28,194.14,194.66,193.170,193.58,34049898,NaN,0.0
2,AAPL,2023-12-27,192.49,193.50,191.090,193.15,47899806,NaN,0.0
3,AAPL,2023-12-26,193.61,193.89,192.830,193.05,28919310,NaN,0.0
4,AAPL,2023-12-22,195.18,195.41,192.970,193.60,37149570,NaN,0.0
...,...,...,...,...,...,...,...,...,...
151912,XOM,2018-01-08,86.70,87.15,86.600,87.14,10549116,NaN,0.0
151913,XOM,2018-01-05,86.75,86.88,85.710,86.75,11003133,NaN,0.0
151914,XOM,2018-01-04,86.79,87.22,86.430,86.82,10840055,NaN,0.0
151915,XOM,2018-01-03,85.16,86.97,84.820,86.70,13862035,NaN,0.0
151916,XOM,2018-01-02,83.82,85.20,83.660,85.03,11447647,NaN,0.0

In [74]:
merged_df["Date"] = pd.to_datetime(merged_df["Date"])
aggregated["Date"] = pd.to_datetime(aggregated["Date"])

In [75]:
# Perform the merge
event_merged_df = pd.merge(
    merged_df,                 # The OHLCV DataFrame
    aggregated,        # The average sentiment DataFrame
    how="left",               # Use left join to keep all rows from ohlcv_df
    on=["Date", "Ticker"]     # Merge on Date and Ticker
)


# Display the merged DataFrame
event_merged_df.head()

,Ticker,Date,Open,High,Low,Close,Volume,Average_sentiment,news_day,I-A,...,I-DC,I-DI,I-GI,I-NC,I-RSS,I-SD,I-SR,I-SS,O,I-GC
0,AAPL,2023-12-29,193.90,194.40,191.725,192.53,42672148,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAPL,2023-12-28,194.14,194.66,193.170,193.58,34049898,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAPL,2023-12-27,192.49,193.50,191.090,193.15,47899806,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAPL,2023-12-26,193.61,193.89,192.830,193.05,28919310,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAPL,2023-12-22,195.18,195.41,192.970,193.60,37149570,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
event_merged_df[(event_merged_df['news_day'] == 1) & (event_merged_df['O'] != 1)]

,Ticker,Date,Open,High,Low,Close,Volume,Average_sentiment,news_day,I-A,...,I-DC,I-DI,I-GI,I-NC,I-RSS,I-SD,I-SR,I-SS,O,I-GC
1543,ABBV,2023-11-09,141.00,141.6000,135.8500,138.04,14970331,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1854,ABBV,2022-08-16,142.11,143.9800,142.0800,142.55,3852310,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1890,ABBV,2022-06-24,150.89,152.7400,149.6200,152.34,8527824,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1973,ABBV,2022-02-24,143.61,145.7000,143.4700,145.27,12070209,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1977,ABBV,2022-02-17,144.80,145.4700,143.5800,144.97,5486620,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148126,WFC,2021-01-27,30.92,31.0300,29.9200,30.17,45074947,-0.5,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148282,WFC,2020-06-15,26.86,28.3900,26.5600,28.21,48214247,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148498,WFC,2019-08-06,46.61,47.0300,45.8200,46.93,19446099,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
149417,WMT,2021-12-07,139.60,139.8300,138.0900,138.55,12579666,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
150499,XOM,2023-08-21,110.36,110.9793,108.1416,108.71,11092380,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
event_merged_df[indicator_columns] = event_merged_df[indicator_columns].fillna(0)

In [83]:
event_merged_df[indicator_columns].isna().sum()

I-A      0
I-CT     0
I-RD     0
I-DC     0
I-DI     0
I-GI     0
I-NC     0
I-RSS    0
I-SD     0
I-SR     0
I-SS     0
O        0
I-GC     0
dtype: int64

In [84]:
event_merged_df.to_csv('sp100_ohlcv_new_sentiment_events.csv')

In [86]:
news_event_lora_df = pd.read_csv('sp100_news_2018_2023_events_added_LORA.csv')

C:\Users\Chris\AppData\Local\Temp\ipykernel_44712\2217515503.py:1: DtypeWarning: Columns (7,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  news_event_lora_df = pd.read_csv('sp100_news_2018_2023_events_added_LORA.csv')

In [87]:
news_event_lora_df["Date"] = pd.to_datetime(news_event_lora_df["Date"], format='mixed')

# Truncate the time, keeping only the date part
news_event_lora_df["Date"] = news_event_lora_df["Date"].dt.date

In [88]:
news_event_lora_df.rename(columns={"Stock_symbol": "Ticker"}, inplace=True)
news_event_lora_df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Date,Article_title,Ticker,Url,Publisher,Author,Article,Lsa_summary,Luhn_summary,Textrank_summary,Lexrank_summary,business_event
0,0,12025,12025.0,2023-12-16,My 6 Largest Portfolio Holdings Heading Into 2...,AAPL,https://www.nasdaq.com/articles/my-6-largest-p...,NaN,NaN,"After an absolute disaster of a year in 2022, ...",3: Apple There's little question that Apple (N...,3: Apple There's little question that Apple (N...,3: Apple There's little question that Apple (N...,3: Apple There's little question that Apple (N...,1
1,1,12026,12026.0,2023-12-16,Brokers Suggest Investing in Apple (AAPL): Rea...,AAPL,https://www.nasdaq.com/articles/brokers-sugges...,NaN,NaN,"When deciding whether to buy, sell, or hold a ...",Let's take a look at what these Wall Street he...,Click to get this free report Apple Inc. (AAPL...,Let's take a look at what these Wall Street he...,Brokerage Recommendation Trends for AAPL Let's...,1
2,2,12027,12027.0,2023-12-16,"Company News for Dec 19, 2023",AAPL,https://www.nasdaq.com/articles/company-news-f...,NaN,NaN,Shares of Apple Inc. AAPL lost 0.9% on China’s...,Shares of Apple Inc. AAPL lost 0.9% on China’s...,Click to get this free report Apple Inc. (AAPL...,Click to get this free report Apple Inc. (AAPL...,Click to get this free report Apple Inc. (AAPL...,1
3,3,12028,12028.0,2023-12-16,NVIDIA (NVDA) Up 243% YTD: Will It Carry Momen...,AAPL,https://www.nasdaq.com/articles/nvidia-nvda-up...,NaN,NaN,NVIDIA Corporation NVDA has witnessed a remark...,Other Stocks in the $1T Club Apart from NVIDIA...,Other Stocks in the $1T Club Apart from NVIDIA...,Other Stocks in the $1T Club Apart from NVIDIA...,Other Stocks in the $1T Club Apart from NVIDIA...,1
4,4,12029,12029.0,2023-12-16,"Pre-Market Most Active for Dec 19, 2023 : BMY,...",AAPL,https://www.nasdaq.com/articles/pre-market-mos...,NaN,NaN,The NASDAQ 100 Pre-Market Indicator is up 10.1...,"Apple Inc. (AAPL) is +0.86 at $196.75, with 1,...","Apple Inc. (AAPL) is +0.86 at $196.75, with 1,...","Apple Inc. (AAPL) is +0.86 at $196.75, with 1,...","Apple Inc. (AAPL) is +0.86 at $196.75, with 1,...",1

In [91]:
# Step 1: Create placeholder columns for one-hot encoding
for category in label_map.keys():
    news_event_lora_df[category] = 0

# Step 2: Update the placeholder columns where business_event matches the code
for category, code in label_map.items():
    news_event_lora_df.loc[news_event_lora_df['business_event'] == code, category] = 1

# Step 3: Aggregate the one-hot columns by Date and Ticker using max()
# Select numeric columns for aggregation
one_hot_columns = list(label_map.keys())
aggregated_lora = news_event_lora_df.groupby(['Date', 'Ticker'], as_index=False)[one_hot_columns].max()

# Add back non-numeric columns
aggregated_lora = pd.merge(news_event_lora_df[['Date', 'Ticker']].drop_duplicates(), aggregated, on=['Date', 'Ticker'])
aggregated_lora.head()

,Date,Ticker,I-A,I-CT,I-RD,I-DC,I-DI,I-GI,I-NC,I-RSS,I-SD,I-SR,I-SS,O,I-GC
0,2023-12-16,AAPL,0,1,0,1,0,0,0,0,0,0,0,0,0
1,2023-12-15,AAPL,0,1,0,0,0,0,0,0,0,0,0,0,0
2,2023-12-14,AAPL,0,1,0,0,0,0,0,0,0,0,0,0,0
3,2023-12-13,AAPL,0,1,0,0,0,0,0,0,0,0,0,0,0
4,2023-12-12,AAPL,0,1,0,1,0,0,0,0,0,0,0,0,0

In [92]:
merged_df["Date"] = pd.to_datetime(merged_df["Date"])
aggregated_lora["Date"] = pd.to_datetime(aggregated_lora["Date"])

In [93]:
# Perform the merge
event_merged_lora_df = pd.merge(
    merged_df,                 # The OHLCV DataFrame
    aggregated_lora,        # The average sentiment DataFrame
    how="left",               # Use left join to keep all rows from ohlcv_df
    on=["Date", "Ticker"]     # Merge on Date and Ticker
)


# Display the merged DataFrame
event_merged_lora_df.head()

,Ticker,Date,Open,High,Low,Close,Volume,Average_sentiment,news_day,I-A,...,I-DC,I-DI,I-GI,I-NC,I-RSS,I-SD,I-SR,I-SS,O,I-GC
0,AAPL,2023-12-29,193.90,194.40,191.725,192.53,42672148,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAPL,2023-12-28,194.14,194.66,193.170,193.58,34049898,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAPL,2023-12-27,192.49,193.50,191.090,193.15,47899806,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAPL,2023-12-26,193.61,193.89,192.830,193.05,28919310,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAPL,2023-12-22,195.18,195.41,192.970,193.60,37149570,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
event_merged_lora_df[indicator_columns] = event_merged_lora_df[indicator_columns].fillna(0)

In [96]:
event_merged_lora_df.to_csv('sp100_ohlcv_news_sentiment_events_lora.csv')